@charset "utf-8"; 

.top_banner {
	background: url(../img/contact_banner.png) no-repeat center center;
}

.content {
	margin-top: 60px;
	position: relative;
}

.map_area {
	float: left;
}

.map_area .map_border {
	display: none;
}

.map_area .wrap_controllers {
	display: none;
}

.info {
	width: 920px;
	height: 50px;
	background: #f7f7f7;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	line-height: 50px;
	text-align: center;
}

.info p {
	font-size: 15px;
	color: #222222;
	display: inline-block;
}

.info p.tell {
	padding: 0 80px;
	background: url(../img/tell_bg.png) no-repeat center center;
}

.msg {
	float: right;
	width: 400px;
	height: 480px;
	background: #189a9d;
	padding: 40px 40px 0;
	box-sizing: border-box;
}

.msg h4 {
	color: white;
	font-weight: 100;
	margin-bottom: 15px;
}

.msg h4 span {
	font-weight: 500;
}

.msg p {
	font-size: 15px;
	color: #ffffff;
	font-weight: 200;
	margin-bottom: 30px;
}

.msg form input[type="text"] {
	width: 320px;
	height: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-left: 30px;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 15px;
	color: #ffffff;
	margin-bottom: 10px;
	font-weight: 200;
	letter-spacing: -1px;
}

.msg form .names {
	background: url(../img/name_icon.png) no-repeat left center;
}

.msg form .mails {
	background: url(../img/mail_icon.png) no-repeat left center;
}

.msg form textarea {
	width: 320px;
	height: 100px;
	padding-left: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 15px;
	color: #ffffff;
	background: url(../img/msg_icon.png) no-repeat left top;
	resize: none;
	font-weight: 200;
	letter-spacing: -1px;
	overflow: auto;
}

.msg form input[type="submit"] {
	width: 320px;
	height: 40px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	display: block;
	background: none;
	font-family: inherit;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}